################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GigHub/.vs
/GigHub/GigHub/App_Data
